/* ------------------------------    Parameters      ---------------------------------- */
:root {
  --negro: #393939;
  --blanco: rgb(255, 250, 236);
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}
/* Las adaptamos al modo oscuro */
/* @media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
} */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

/* ------------------------------    Formating Group      ----------------------------- */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::-webkit-scrollbar {
  width: 2rem;
  height: 100%;
  background-image: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 1rem;
  box-shadow: inset -2px -2px 2px dimgray, inset 2px 2px 2px rgb(171, 156, 156);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar:hover {
  width: 2rem;
  background-image: transparent;
}
::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

/* ------------------------------    Basic      --------------------------------------- */

html {
  scroll-behavior: smooth;
  position: absolute;
  width: 100%;
}
body {
  scrollbar-width: thin;
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--blanco);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#129d6c, #12259d, #9d1291);
  display: flex;
  flex-direction: column;
  overflow: overlay;
}

h1 {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  color: chartreuse;
  text-shadow: 1px 3px purple;
  line-height: 2.5rem;
}
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 4rem;
  font-size: 2.5rem;
  font-weight: bold;
}

h2::after,
h2::before {
  content: "";
  height: 2rem;
  width: 10rem;
}

h2::after {
  margin-left: 1rem;
  background-image: linear-gradient(to right, white, transparent);
}
h2::before {
  margin-right: 1rem;
  background-image: linear-gradient(to left, white, transparent);
}

/* h3{} */
/* h4{} */
/* h5{} */
/* h6{} */
/* p{} */
/* br{} */
/* hr{}  */

/* ------------------------------    Formating      ----------------------------------- */
/* abbr{} */
/* address{} */
/* b{} */
/* bdi{} */
/* bdo{} */
/* blockquote{} */
/* cite{} */
/* code{} */
/* del{} */
/* dfn{} */
/* em{} */
/* i{} */
/* ins{} */
/* kbd{} */
/* mark{} */
/* meter{} */
/* pre{} */
/* progress{} */
/* q{} */
/* rp{} */
/* rt{} */
/* ruby{} */
/* s{} */
/* samp{} */
/* small{} */
/* strong{} */
/* sub{} */
/* sup{} */
/* template{} */
/* time{} */
/* u{} */
/* var{} */
/* wbr{} */

/* ------------------------------    Forms and Imput      ----------------------------- */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: flex;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* form{} */
/* input{} */
input[type="text"] {
  width: 100%;
  height: 2rem;
  background-color: cornsilk;
  color: black;
  padding-left: 1rem;
}

#AdditionalFrame,
#negativeInput {
  min-height: 30rem;
  width: inherit;
  display: flex;
  flex-wrap: wrap;
}

.wrapCheck {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(1rem, 4rem);
  gap: 0.5rem;
}

.wrapCheck label {
  min-width: 5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}

.wrapCheck .boxes {
  appearance: none;
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
}

.wrapCheck .boxes::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.wrapCheck .boxes,
.wrapCheck .boxes::after {
  transition: all 100ms ease-out;
}

.wrapCheck .boxes::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.wrapCheck input[type="checkbox"] {
  cursor: default;
}

.wrapCheck .boxes:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.wrapCheck .boxes:checked {
  background-color: #47cc13;
}

.wrapCheck .boxes:checked::after {
  background-color: #fff;
  left: 13px;
}

.wrapCheck :focus:not(.focus-visible) {
  outline: 0;
}

.wrapCheck .boxes:checked:hover {
  background-color: #34900f;
}

/* textarea{} */
/* button{} */
select,
#inputNameModel,
#filterArtist {
  width: 90%;
  height: 2rem;
  box-shadow: rgba(93, 75, 50, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(64, 45, 10, 0.35) 0px -2px 6px 0px inset;
  background-color: rgb(240, 202, 155);
  color: black;
  justify-content: baseline;
  padding-left: 1rem;
  border-radius: 2rem;
  border: 0;
}

select:focus,
#inputNameModel:focus,
#filterArtist:focus {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: antiquewhite;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset;
  outline: none;
}

option {
  border: 1px solid grey;
}

/* optgroup{} */
/* option{} */
label {
  padding-left: 2rem;
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
}
/* fieldset{} */
/* legend{} */
/* datalist{} */
/* output{} */

/* ------------------------------    Frames      -------------------------------------- */
/* iframe{} */

/* ------------------------------    Images      -------------------------------------- */
/* img{} */
/* map{} */
/* area{} */
/* canvas{} */
/* figcaption{} */
/* figure{} */
/* picture{} */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}
p svg {
  display: inline;
  width: initial;
}

/* ------------------------------    Audio and Video      ----------------------------- */
/* audio{} */
/* source{} */
/* track{} */
/* video{} */

/* ------------------------------    Links      --------------------------------------- */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
p a {
  display: inline;
}
/* link{} */
/* nav{} */

/* ------------------------------    List      ---------------------------------------- */
/* ul{} */
/* ol{} */
li {
  list-style-type: none;
}
/* dl{} */
/* dt{} */
/* dd{} */

/* ------------------------------    Table      --------------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* caption{} */
/* th{} */
tr {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  border-collapse: collapse;
  border-spacing: 0;
}
/* t
{} */
/* tbody{} */
/* tfoot{} */
/* col{} */
/* colgroup{} */

/* ------------------------------    Styles and Semantics      ------------------------ */
/* div{} */
/* span{} */
header {
  width: 100%;
  /* min-height: 5rem; */
  min-width: 12rem;
  background-color: #129d6c;
  align-items: center;
  text-align: center;
  display: grid;
  /* grid-template-columns: 20% auto; */
  grid-template-columns: 100%;
  grid-template-rows: 30px 120px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 3rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
header div {
  display: flex;
  flex-direction: row;
  gap: 0 1rem;
  align-items: center;
}

header p {
  /*//////////////////*/
  display: inline-block;
}
footer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0 1rem;
  align-items: center;
}
footer div {
  width: 100%;
  display: inline-flex;
  padding: 2rem;
  align-items: center;
  gap: 1rem;
}
main {
  padding: 2rem 2.5rem 2rem 0;
  position: relative;
}

section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* border: 1px solid wheat; */
  padding: 1rem 0 2rem;
}
article {
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 1rem;
}
/* aside{} */
/* details{} */
/* dialog{} */
/* summary{} */
/* data{} */

/* ------------------------------    Programming      --------------------------------- */

/* script{} */
/* noscript{} */
/* embed{} */
/* object{} */
/* param{} */
/* ------------------------------    class & ID's      --------------------------------- */
#ArtistsFrame {
  background-color: transparent;
  width: 100%;
  height: 30rem;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

#finalPromt {
  width: 100%;
  height: 6rem;
  background-color: cornsilk;
  color: black;
  padding: 1rem;
}

#negativeFinalPromt {
  width: 100%;
  height: 4rem;
  display: flex;
  background-color: cornsilk;
  color: black;
  padding-left: 1rem;
  align-items: center;
  overflow: auto;
}

.tooltipCopy {
  position: relative;
}

.tooltipCopy::after {
  content: "Copy!";
  display: flex;
  position: sticky;
  bottom: 50%;
  left: 50%;
  width: fit-content;
  height: fit-content;
  padding: 2rem;
  z-index: 5;
  color: rgb(1, 1, 1);
  font-size: 2rem;
  background: #ffdd00;
  box-shadow: 0.15rem 0.05rem 0.25rem black, inset 3px 3px 1rem white;
  align-content: center;
  justify-content: center;
  border-radius: 7rem;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#copyicon,
#copyNegativePromt {
  position: relative;
  width: 30px;
  height: 30px;
  background-image: radial-gradient(white, transparent);
}

#copyicon:hover,
#copyNegativePromt:hover {
  cursor: pointer;
  background-image: radial-gradient(rgb(39, 255, 251), transparent);
}

#copyicon:active,
#copyNegativePromt:active {
  background-image: radial-gradient(yellow, transparent);
}

/*///////////////////////////////////*/

@media (min-width: 768px) {
  header {
    /* grid-template-columns: 100%;
    grid-template-rows: 30px 120px;
    min-width: 12rem; */

    grid-template-columns: 20% auto;
    grid-template-rows: 1fr;
    min-width: 5rem;
  }
  header p {
    /* display: inline-block; */
    display: initial;
  }

  article {
    /* grid-template-columns:1fr; */
    grid-template-columns: repeat(3, 1fr);
  }

  .wrapCheck {
    grid-template-columns: repeat(5, 1fr);
  }

  .filterArtistBox {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #filterArtist {
    align-self: center;
    text-align: center;
    width: 20%;
  }
}
